<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:frm="http://www.ldd600.com/exception/frm"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.ldd600.com/exception/frm http://www.ldd600.com/exception/frm.xsd">

	<frm:config>
		<frm:exceptions>
			<frm:exception errorCode="LDD600-00001"
				class="com.ldd600.exception.base.BaseAppRuntimeException">
				<frm:handler>
					com.ldd600.exception.base.handler.ConsoleHandler
				</frm:handler>
			</frm:exception>
		</frm:exceptions>
		<frm:annotationAutoLoad scanDirs="true"
			jarMarkerFile="annotation.properties">
			<frm:includePackage>
				com.ldd600.exception.*
			</frm:includePackage>
			<frm:alternateAnnotation
				annotation="com.ldd600.exception.annotation.Exceptional">
			</frm:alternateAnnotation>
		</frm:annotationAutoLoad>
	</frm:config>

	<bean
		class="com.ldd600.exception.processor.ExceptionalAnnotationBeanPostProcessor" />
</beans>
